.imgCenter
{
	text-align:center;
	margin-top:200px;
}

.outMain{
     display: inline-block;
}

.but
{
	margin-top:50px;
}



.outRight{
   
}
.goodsum{
    text-align:center;
	margin-top:200px;
    
}